.login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: url('../images/rotom.png')
    no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 800px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}